<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= csrf %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6353074471.js" crossorigin="anonymous"></script>
    <title>Admin Login</title>
    <script>
        function togglePassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
        x.type = "text";
        document.getElementById("eye").classList.remove("fa-eye");
        document.getElementById("eye").classList.add("fa-eye-slash");
        } else {
        x.type = "password";
        document.getElementById("eye").classList.remove("fa-eye-slash");
        document.getElementById("eye").classList.add("fa-eye");
        }
    }
    </script>
</head>
<body  style="overflow: hidden;">
    <div class="flex justify-center"><%- include ('header1') %></div>
    <div class="body-class" style="background-image: url(images/bgimg.jpg); background-repeat: no-repeat;background-size: contain;">
        <div class="flex-col bg-white login-form" style="justify-content: center;border-radius: 19px;position: relative;top: 3rem;left: 60%;width: 33%;height: 72%;padding: 2rem;">
            <h1 class="fs-2 fw-bold" style="color: #1196b5;margin-left: 1rem;">Admin LogIn</h1>
            <form action="/session" method="post" class="adminLoginForm" style="display: flex;flex-direction: column;">
                <input type="hidden" name="_csrf" value="<%= csrf%>">
                <div class="flex-col" style=" padding:1rem;">
                    <div class="justify-content-spacebetween">
                        <label style="margin:0.2em;font-weight: 500;" for="email">Email</label>
                        <span>Need an account? <a href="/signup" style="font-weight: bolder;color: #1196b5;">SignUp</a></span>
                    </div>
                    <input style="margin:0.2em;width: 100%;" type="email" name="email" id="email">
                    <div class="justify-content-spacebetween" style="margin-top: 10px;">
                        <label style="margin:0.2em;font-weight: 500;" for="password">Password</label>
                        <span style="margin-right: 15px;" onclick="togglePassword()"><i id="eye" class="fa-solid fa-eye"></i></span>
                    </div>
                    <input style="margin:0.2em;width: 100%;" type="password" name="password" id="password">
                </div>
                <button class="btn" type="submit" style="margin:1rem; background-color: #1196b5;color:white;width: 91%;">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>