<html>

<head>
  <title>Online Voting Platform</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="bg-gradient-to-tl min-h-screen w-full" style="background-image: url(images/landingPage.jpg);">
  <div class="flex justify-center">
    <%- include ('header1') %>
  </div>
  <div class="flex flex-col justify-center items-center p-4" style="color: white;">
    <div class="flex flex-col justify-center md:w-2/5 w-full">
      <div class="flex flex-col justify-center items-center">
        <p class="text-white-600 text-2xl font-bold pt-4">Admin Login</p>
        <div class="flex flex-col justify-center items-center md:w-2/5 w-full">
          <div class="flex flex-col justify-center pt-4 items-center pt-8 w-full">
            <b>Existing User?</b>
            <a class="text-white-600 bg-cyan-50 border-2 border-blue-800 flex justify-center hover:font-bold p-2 rounded-lg w-full"
              href="/login">Log In</a>
          </div>
          <div class="flex flex-col justify-center pt-4 items-center w-full">
            <b>New User?</b>
            <a class="text-white-600 bg-cyan-50 border-2 w-full flex justify-center border-blue-800 hover:font-bold p-2 rounded-lg"
              href="/signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>