<header class="navbar navbar-expand-lg bg-info-subtle" style="width:100%">
    <div class="container-fluid" style="padding: 1rem;">
        <div class="flex" style="align-items:center">
          <div>
            <a class="navbar-brand" href="/home"><img src="images/logo.jpg" alt="Vote" class="logo-width"></a>
          </div>
          <div><a href="/home" style="font-weight: bolder; font-size:1.5rem;">Online Voting Platform</a></div>
        </div>
        <div class="flexi justify-content-base" style="display: flex;">
            <div class="dropdown flexi">
                <button class="flexi justify-content-base btn-style" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user mx-1 my-1"></i>
                    <p class="font-semibold text-xl mx-1 my-0">
                        <%= username %>
                    </p>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Reset password</a></li>
                </ul>
                <div class="flexi">
                    <a href="/signout" class="logout">
                        <span class="logoutInfo">Logout</span>
                        <i class="fa-solid fa-arrow-right-from-bracket mx-4 my-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </header>